:root {
    --header-color: #be3144;
    --base-color: #303841;
    --blue-dark: #45567d;
}

* {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--base-color);
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-rows: min-content 100vh 2fr 1fr min-content;
}

.hidden {
    opacity: 0;
    transform: translateY(8rem);
}
.section {
    transition: transform 1s, opacity 1s;
}

.fixed {
    position: fixed;
}

.header {
    grid-column: 1/-1;
    width: 100%;
    height: 90px;
    z-index: 1;
    background-color: var(--header-color);
    font-weight: bold;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.4);
}
header li :hover {
    background-color: var(--blue-dark);
    transition-property: background-color;
    transition-duration: 0.3s;
}
.over-main__p {
    color: var(--header-color);
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
}
.nav-links {
    justify-content: flex-end;
    margin-right: 20px;
}
.nav__header-link,
.contact__link,
.btn__link {
    transition: background-color 1s ease-in;
    font-size: 2.2rem;
    padding: 2rem;
    color: #fff;
    text-decoration: none;
}
.btn,
.btn__link {
    display: flex;
    flex: 0 0 20%;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
@media(max-width: 1030px) {
    .btn__link {
        font-size: 1.2rem;
    }
}

li {
    list-style: none;
}
.over-main {
    flex-direction: column;
    justify-content: center;
    background-color: var(--base-color);
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}
h3 {
    height: min-content;
    width: 40%;
    align-self: center;
    color: #fff;
    
}
.main__projects-text {
    align-items: center;
    font-size: 20px;
    display: flex;
    height: 400px;
    flex-direction: column;
}
.main__projects-text p {
    width: 40%;
    line-height: 1.5;
}
.main__projects-p {
    text-align: center;
}
.main__projects-link {
    text-decoration: none;
}
.over-main h1 {
    font-weight: bold;
    color: #fff;
}
.main__projects {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: min-content min-content min-content min-content;
    
}
#pic1 {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
}
#pic2 {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
}
#pic3 {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
}
#pic4 {
    grid-column: 2/3;
    grid-row: 4/5;
    justify-self: center;
    align-self: center;
}

.main {
    background-color: var(--blue-dark);
    grid-column: 1/4;
    grid-row: 3/4;
}
/* .main div {
    flex-wrap: wrap;
    justify-content: space-evenly;
} */
.main a {
    background-color: var(--base-color);
    border-radius: 5px;
    border: 1px solid var(--base-color);
    width: 50%;
}
.main h1 {
    color: #fff;
    text-decoration: underline;
}
.main .flex-container a {
    margin-bottom: 20px;
}
img {
    height: 400px;
    width: 100%;
    transition: filter 1s;
}
@media (max-width: 1370px) {
    .main .main__projects-text p {
        font-size: 15px;
    }
}
@media (max-width: 860px) {
    .main .main__projects-text p {
        font-size: 11.2px;
        
    }
    img {
        height: 250px;
    }
}
.lazy {
    filter: blur(10px);
}
.footer {
    color: #fff;
    font-weight: bold;
    justify-content: space-evenly;
    background-color: var(--base-color);
    grid-column: 1/4;
    grid-row: 5/6;
    border-top: 5px solid var(--header-color);
}
.main .flex-container p {
    color: #ddd;
    font-weight: bold;
}

.btn a {
    width: 100%;
    color: #fff;
    font-weight: bold;
    padding: 15px 20px 15px 20px;
}
.btn a:hover {
    background-color: var(--header-color);
}
.arrow {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
}

.contact {
    grid-column: 1/4;
    grid-row: 4/5;
    background-color: var(--base-color);
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
.contact__p {
    font-style: italic;
    text-align: center;
}
.contact__nav {
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    font-weight: bold;
}
